:root{
    --primaryBackground: #faf8e9;
    --secondary: #C9CBA3;
    --terciary: #283618;
    --quad: #FFE1A8;
    --cinq: #b1372a;
    --six: #723D46;
    --seven: #472D30;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-md: 16px;
    --fz-mdL: 20px;
    --fz-l:25px;
    --fz-l2:30px;
    --fz-l3:35px;
    --fz-xl1: 40px;
    --fz-xl2: 45px;
    --fz-xxl: 55px;
}


.contactWrapper{
    background-color: var(--cinq);
    padding: 5%;
    height: min-content;
    /* max-height: 150px; */
    margin: auto;
    text-align: left;
}
.contactWrapper h2{
    color: white;
}

.contactButton{
    width: 100%;
    height: 55px;
    margin: 20px auto;
    background-color: white;
    color: var(--cinq);
    text-align: center;
    padding: 15px 0%;
    font-size: var(--fz-mdL);
    border-radius: 15px;
    cursor: pointer;
    font-weight: 600;
    overflow: hidden;
}


@media(min-width:548px){
    .contactWrapper{
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 10px;
        grid-template-rows: 100px;
        /* max-height: 150px; */
        height: 200px;
        max-height: 200px;
        overflow: hidden;
    }
    .contactWrapper h2{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 20px;
        /* font-size: var(--fz-md); */
    }
    .contactButton{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 80px;
        padding-top: 10px;
        overflow: hidden;
        /* margin-top: 15px; */
        margin: 15px auto auto auto;

    }
}

@media(min-width:653px){
    .contactButton{
        padding-top: 15px;
    }
}
@media(min-width:680px){
    .contactButton{
        padding-top: 25px;
    }
}

@media(min-width:825px){
    /* .contactWrapper{} */
    .contactWrapper h2{
        margin-top: 40px;
        overflow: hidden;

    }
}
@media(min-width:900px){
    .contactWrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: auto;
    }

    .contactWrapper h2{
        /* margin-top: 5%; */
        height: 100%;
    }
    .contactButton{
        height: 80px;
        width: 400px;
        /* margin: 20px auto; */
    }

}

@media(min-width:1200px){

    .contactWrapper h2{
        font-size: var(--fz-l2);
        margin: 10px auto;
    }
    .contactButton{
        height: 80px;
        margin: 20px auto;
        align-self: center;
    }
}






























/* .contactTop{
    margin-bottom: 5%;
}
.contactTop h1{
    font-size: var(--fz-l3);
    margin-top: 5%;
}
.contactTop p{
    font-size: var(--fz-mdL);
}
form input{
    height: 40px;
    width: 100%;
    margin-bottom: 1%;
}
.contactWrapper img{
    display: none;
}
@media(min-width: 600px){
    .contactTop,
    form{
        width: 550px;
        margin: auto auto 5% auto;
    }
}

@media(min-width:1000px){
    .contactWrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 75%;
    }
    .contactTop{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    form{
        width: 90%;
        grid-column: 2/3;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 15% 50% 20%;
    }
    .inputName{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .inputEmail{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .inputNumber{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .inputTime{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    form textarea{
        grid-column: 1/3;
        grid-row: 3/4;
        margin-bottom: 10px;
    }
    form button{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .contactWrapper img{
        display: block;
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        width: 90%;
    }

} */
