:root{
    --primaryBackground: #faf8e9;
    --secondary: #C9CBA3;
    --terciary: #283618;
    --quad: #FFE1A8;
    --cinq: #b1372a;
    --six: #723D46;
    --seven: #472D30;
    --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    --fz-md: 16px;
    --fz-mdL: 20px;
    --fz-l:25px;
    --fz-l2:30px;
    --fz-l3:35px;
    --fz-xl1: 40px;
    --fz-xl2: 45px;
    --fz-xxl: 55px;
}
.homeWrapper{
    width: 100%;
    height: 100%;
    background-color: var(--primaryBackground);
}
.heroDiv{
    /* margin-top: 10; */
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}
.heroDiv img{
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: .2;
    grid-row: 1/2;
    grid-column: 1/2;
}
.hero_wu{
    z-index: 100;
    grid-row: 1/2;
    grid-column: 1/2;
    margin: 15% auto auto 5%;
    width: 70%;
    max-width: 500px;
}
.hero_wu h1{
    color: var(--terciary);
    font-size: var(--fz-xl1);
    margin-bottom: 5%;
    margin-left: 5%;
    font-weight: 600;
}
.hero_wu h6{
    color: var(--terciary);
    font-size: var(--fz-l);
    margin-bottom: 5%;
    font-weight: 600;
    margin-left: 5%;
}
.hero_wu button{
    margin-left: 5%;
}
.NavLinks{
    text-decoration: none;
    color: black;
    
}

.aboutDiv{
    margin: 10% auto;
    text-align: center;
    width: 95%;
}
.aboutDiv h1{
    font-size: var(--fz-l2);
    color: var(--terciary);
    max-width: 800px;
    margin: auto;
    text-align: center;
    /* color: var(--cinq); */
}
.aboutDiv p{
    font-size: var(--fz-mdL);
    max-width: 800px;
    text-align: center;
    margin: auto auto 30px auto;
}
.aboutDiv h3{
    max-width: 800px;
    margin: auto auto 30px auto;
    font-size: var(--fz-l);
    font: italic;
    
}
.aboutDiv p span{
    color: var(--cinq)
}

.aboutDiv Button{
    font-size: var(--fz-md);
}
.portfolio_testimonials{
    width: 100%;
    display: grid;
    grid-template-rows: 400px 400px;
}
.portfolio{
    grid-row: 1/2;
    width: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-columns: 100%;
    
}
.portfolio img{
    grid-row: 1/3;
    grid-column: 1/2;
    z-index: 0;
    height: 100%;
    width: 100%;
}
.galleryButton{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: var(--quad);
    width: 100%;
    height: 40px;
    z-index: 1000;
    text-align: center;
    font-weight: 600;
    color: white;
    /* margin-top: 100%; */
    padding-top: 10px;
    opacity: 0.7;
    cursor: pointer;
    /* max-height: 300px; */

}
.galleryButton:hover{
    opacity: 1.0;
}

.testimonial{
    grid-row: 2/3;
    width: 100%;
    background-color: white;
}



@media(min-width:600px){

    .portfolio,
    .testimonial{
        max-width: 650px;
        margin: auto;
        overflow: hidden;
    }
    .aboutDiv h1{
        font-size: var(--fz-xl1);
    }
    .servicesDiv{
        margin: 5% auto 10% auto;
        /* overflow: hidden; */
        height: 100%;
    }

}

@media(min-width:850px){
    .servicesDiv{
        width: 90%;
        margin-top: 10%;
    }
}


@media(min-width:1200px){
    .hero_wu{
        width: 100%;
        max-width: 700px;
        margin: 150px auto auto 100px;

        /* margin-bottom: 15%; */
    }
    .hero_wu h1{
        font-size: var(--fz-xxl);
        width: 100%;
    }
    .portfolio_testimonials{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 400px;
        width: 100%;
        margin: 5% auto;
    
    }
    .portfolio{
        grid-column: 1/2;
        grid-row: 1/2;
        max-width: 2000px;
        height: 100%;
        width: 100%;
    }
    .testimonial{
        grid-column: 2/3;
        grid-row: 1/2;
        max-width: 2000px;
        height: 100%;
        width: 100%;
    }
    .aboutDiv h1{
        width: 1200px;
        max-width: none;
        font-size: var(--fz-xl2);
        margin-bottom: 50px;
    }


    .aboutDiv p,
    .aboutDiv h3{
        width: 1200px;
        max-width: none;
    }
}